body {
	font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
	color: #fff4de;
    text-shadow: 0 0 20px #3a3a3a;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    background: linear-gradient(-17deg, #F2D500, #F2D500, #F2D500, #0077EF, #0077EF, #0077EF, #0077EF);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
	font-size: 4em;
	text-align: center;
}

.content {
	padding: 1em;
}

.donate-description {
	padding-bottom: 2em;
}

.option-description {
	padding-bottom: 1em;
}

.bank-block {
	display: flex;
	padding-bottom: 1em;
}

.bank-link {
	flex: 1;
}

.bank-link a {
	text-decoration: none;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
}

.bank-link img {
	width: 80%;
}

.another-bank-block {
	padding-bottom: 1em;
}

.another-bank-block a {
	/* text-decoration: none; */
	/* font-size: 1.2em; */
	color: white;
	font-weight: bold;
}

.number-description {
	font-size: 0.4em;
}

#copied-description {
	display: none;
}

.card-number-block.copied #copied-description {
	display: block;
}

.card-number-block.copied #copy-suggestion {
	display: none;
}

.card-number {
	font-size: 1.2em;
	font-weight: bold;
}

.card-number:not(:active) {
	transition-property: color, text-shadow;
	transition-duration: 3s;
}

.card-number:active {
	color: #0a1724;
	text-shadow: 0 0 60px #0a1724;
}