body {
	font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
	color: #fff4de;
    text-shadow: 0 0 20px #3a3a3a;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    background: linear-gradient(-17deg, #F2D500, #F2D500, #F2D500, #0077EF, #0077EF, #0077EF, #0077EF);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
	font-size: 5em;
	text-align: center;
}

.content {
	padding: 1em;
}

.donate-description {
	padding-bottom: 2em;
}

.number-description {
	font-size: 0.4em;
}

#copied-description {
	display: none;
}

.card-number-block.copied #copied-description {
	display: block;
}

.card-number-block.copied #copy-suggestion {
	display: none;
}